- name: Upgrade worker nodes
  # Do not upgrade terabox automatically
  hosts: workers:!storage
  remote_user: root

  # Upgrade hosts one by one
  #strategy: mitogen_host_pinned
  strategy: host_pinned
  serial: 1

  tasks:
    - name: Upgrade system
      register: upgraded
      community.general.pacman:
        upgrade: true
        update_cache: true
    - name: Print upgraded packages
      when: |
        'packages' in upgraded
      ansible.builtin.debug:
        var: upgraded.packages
    - name: Sync node configuration
      ansible.builtin.shell:
        cmd: kubeadm upgrade node phase kubelet-config
    - meta: end_host
      when: |
        ('packages' not in upgraded) or (upgraded.packages | intersect(['kubelet', 'cri-o', 'runc', 'crun', 'linux', 'linux-lts']) | length == 0)

    - name: Drain node before reboot
      delegate_to: "{{ groups['control_plane'][0] }}"
      ansible.builtin.command:
        cmd: kubectl drain --delete-emptydir-data --ignore-daemonsets {{ ansible_facts["hostname"] }}
    - name: Reboot node
      register: reboot
      ansible.builtin.reboot:
    - name: Uncordon node after reboot
      delegate_to: "{{ groups['control_plane'][0] }}"
      ansible.builtin.command:
        cmd: kubectl uncordon {{ ansible_hostname }}
